* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	overflow: hidden;
}

body {
	margin: 1rem;
}

:root {
	font-size: 20pt;
	font-family: Arial, Helvetica, sans-serif;
}

button {
	position: absolute;
	bottom: 1rem;
	height: 8rem;
	width: 8rem;
	font-size: 2rem;
	border: solid 4pt black;
	background: white;
}

#gas {
	right: 7rem;
}

button:hover {
	background: black;
	color: white;
}

#speedContainer {
	width: 4rem;
	height: calc(100vh - 2rem);
	position: absolute;
	right: 1rem;
	top: 1rem;
}

#speedContainer p {
	position: absolute;
	right: 1.1em;
	font-size: 2rem;
}

#speedContainer :nth-child(1):not(div) {
	top: 0;
}

#speedContainer :nth-child(2):not(div) {
	top: calc(50% - 1rem);
}

#speedContainer :nth-child(3):not(div) {
	bottom: 0;
}

#throttleContainer {
	width: 50%;
	height: 100%;
	border: 4pt black solid;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #cccccc;
}

#throttle {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: black;
	height: 8pt;
}

svg:hover {
	opacity: 0.7;
}

#fullscreen .close,
#fullscreen.exit .open {
	display: none;
}

#fullscreen.exit .close {
	display: inline;
}

.steering {
	position: relative;
	height: calc(100vh - 10rem);
	max-height: calc(100vw - 10rem);
	width: auto;
	margin: 0 auto;
}

#wheel {
	opacity: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
}

#notification {
	position: absolute;
	top: 1rem;
	left: 1rem;
	text-align: center;
	width: calc(100vw - 7rem);
	opacity: 0;
}

#notification.active {
	opacity: 1;
}

#notification div {
	height: 1rem;
	background-color: turquoise;
	width: 100%;
}

@keyframes notificationAnim {
	0% {
		width: 100%;
	}
	99% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

#notification.active div {
	animation: notificationAnim 2.1s linear;
}

#priority {
	top: 1rem;
	right: 6rem;
	height: 3rem;
}
